 .nav{
    @apply bg-background/40 fixed top-0 -right-full w-full h-screen z-30 transition-all duration-300 md:relative md:right-auto md:h-14
}
.navActive{
    @apply right-0 transition-all duration-300
}

.menu{
    @apply absolute w-80 right-0 top-0 h-screen md:h-auto bg-background md:relative md:w-full md:flex justify-between items-center pt-1
}
.nav_menu{
    @apply md:flex justify-end gap-1 items-center
}
.nav_menu>li{
    @apply relative 
}
.nav_menu>li>a{
    @apply text-sm tracking-wider hover:bg-popover transition-all duration-500 font-medium py-3 px-4 w-full flex justify-between items-center border-b border-b-accent text-muted-foreground hover:text-secondary-foreground
}
.nav_menu>li:last-child>.dropdown{
    @apply right-0 left-auto
}
.nav_menu>li>.dropdown{
     @apply px-2 overflow-hidden md:bg-popover md:absolute md:top-[102%] md:left-0 md:w-72 flex-col bg-accent h-auto md:hidden shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded md:overflow-visible
}
.nav_menu>li:hover .dropdown{
    @apply md:flex
}
.nav_menu>li>.dropdown>li:first-child>a{
  @apply pt-6
}
.nav_menu>li>.dropdown>li:last-child>a{
    @apply pb-6 
  }
.nav_menu>li>.dropdown>li>a{
    @apply text-sm hover:bg-popover transition-all duration-500 font-medium py-3 px-4 w-full flex justify-between items-center border-b border-b-accent md:py-2 md:px-2 text-muted-foreground hover:text-secondary-foreground tracking-wide md:block md:bg-popover 
}
.menu::-webkit-scrollbar {
    width: 10px;
  }
  .menu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .menu::-webkit-scrollbar-thumb {
    background: #888;
  }
  .menu::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*
.menu{
    @apply absolute w-80 right-0 top-0 h-screen bg-background drop-shadow-2xl overflow-y-auto md:w-full md:pt-0 md:flex md:gap-6  md:relative md:h-14 md:overflow-y-hidden md:justify-between md:items-center
}

.nav_menu{
    @apply pt-6 md:pt-0 md:flex md:justify-end md:items-center
}
.nav_menu>li{
    @apply relative
}
.nav_menu>li> a{
    @apply border-b py-3 hover:bg-accent transition-all duration-500 px-4 flex justify-between items-center text-muted-foreground hover:text-secondary-foreground md:border-b-0 md:py-2 md:px-2
}

.nav_menu>li>.dropdown{
    @apply  px-2 bg-popover overflow-hidden md:absolute md:top-full md:left-0 md:w-80;
    
}
.nav_menu>li:hover .dropdown{
    @apply block
}
.nav_menu>li>.dropdown>li:first-child>a{
    @apply pt-4 mt-1
}
.nav_menu>li>.dropdown>li:last-child>a{
    @apply pb-4 mb-1
}
.nav_menu>li>.dropdown>li>a{
    @apply py-3 hover:bg-background transition-all duration-500 block px-4 text-muted-foreground hover:text-secondary-foreground
} */